In [1]:
#Dependencies
import pandas as pd
import numpy as np
import json
import tweepy
import matplotlib.pyplot as plt
import seaborn as sns
#importing sentiment analyzer
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [2]:
# Twitter API Keys
consumer_key = "bfKjnLCPIukl1vPIZhxALm2LX" 
consumer_secret = "rlD1ESfntqFvPkg8XYFXzA0z2AZVGTQIBZ4UKnmwZEMgmRN8pJ"
access_token = "288651824-om6bJgqZ8ULMmqkFs7tpllwDOxQDMVTzCJPOfuER"
access_token_secret = "x6vsy6PvlM2Zi2HO3ZmohmuXuzbq7XNGtu8CqrbVthSCe"


# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [14]:
#target users
target_users = ("@cnn","@bbc","@cbs","@nytimes","@foxnews")
counter = 1
sentiments= []
for user in target_users:
    for x in range(5):
        public_tweets = api.user_timeline(target_user, page = x+1)
        for tweet in public_tweets:
            compound = analyzer.polarity_scores(tweet["text"])["compound"]
            pos = analyzer.polarity_scores(tweet["text"])["pos"]
            neu = analyzer.polarity_scores(tweet["text"])["neu"]
            neg = analyzer.polarity_scores(tweet["text"])["neg"]
            tweets_ago = counter
            sentiments.append({"Date": tweet["created_at"], 
                           "Compound": compound,
                           "Positive": pos,
                           "Negative": neu,
                           "Neutral": neg,
                           "Tweets Ago": counter,
                              "News Agency":user})
            counter= counter + 1
sentiments_df = pd.DataFrame.from_dict(sentiments)
sentiments_df.head()

,Compound,Date,Negative,Neutral,News Agency,Positive,Tweets Ago
0,0.6597,Thu Mar 29 22:07:54 +0000 2018,0.735,0.000,@cnn,0.265,1
1,0.6597,Thu Mar 29 22:02:46 +0000 2018,0.748,0.000,@cnn,0.252,2
2,0.4215,Thu Mar 29 22:01:07 +0000 2018,0.851,0.000,@cnn,0.149,3
3,-0.2732,Thu Mar 29 21:51:02 +0000 2018,0.759,0.143,@cnn,0.097,4
4,0.6369,Thu Mar 29 21:46:58 +0000 2018,0.610,0.089,@cnn,0.301,5

In [18]:
cnn_sentiments_df= sentiments_df.loc[sentiments_df["News Agency"]=="@cnn"]
cnn_sentiments_df.head()

,Compound,Date,Negative,Neutral,News Agency,Positive,Tweets Ago
0,0.6597,Thu Mar 29 22:07:54 +0000 2018,0.735,0.000,@cnn,0.265,1
1,0.6597,Thu Mar 29 22:02:46 +0000 2018,0.748,0.000,@cnn,0.252,2
2,0.4215,Thu Mar 29 22:01:07 +0000 2018,0.851,0.000,@cnn,0.149,3
3,-0.2732,Thu Mar 29 21:51:02 +0000 2018,0.759,0.143,@cnn,0.097,4
4,0.6369,Thu Mar 29 21:46:58 +0000 2018,0.610,0.089,@cnn,0.301,5

In [23]:
bbc_sentiments_df= sentiments_df.loc[sentiments_df["News Agency"]=="@bbc"]
bbc_sentiments_df["Tweets Ago"] = bbc_sentiments_df["Tweets Ago"] - 100
bbc_sentiments_df.head()

C:\Users\Zachk\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Compound,Date,Negative,Neutral,News Agency,Positive,Tweets Ago
100,0.6597,Thu Mar 29 22:07:54 +0000 2018,0.735,0.000,@bbc,0.265,1
101,0.6597,Thu Mar 29 22:02:46 +0000 2018,0.748,0.000,@bbc,0.252,2
102,0.4215,Thu Mar 29 22:01:07 +0000 2018,0.851,0.000,@bbc,0.149,3
103,-0.2732,Thu Mar 29 21:51:02 +0000 2018,0.759,0.143,@bbc,0.097,4
104,0.6369,Thu Mar 29 21:46:58 +0000 2018,0.610,0.089,@bbc,0.301,5

In [25]:
cbs_sentiments_df= sentiments_df.loc[sentiments_df["News Agency"]=="@cbs"]
cbs_sentiments_df["Tweets Ago"] = cbs_sentiments_df["Tweets Ago"] - 200
cbs_sentiments_df.head()

C:\Users\Zachk\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Compound,Date,Negative,Neutral,News Agency,Positive,Tweets Ago
200,0.6597,Thu Mar 29 22:07:54 +0000 2018,0.735,0.000,@cbs,0.265,1
201,0.6597,Thu Mar 29 22:02:46 +0000 2018,0.748,0.000,@cbs,0.252,2
202,0.4215,Thu Mar 29 22:01:07 +0000 2018,0.851,0.000,@cbs,0.149,3
203,-0.2732,Thu Mar 29 21:51:02 +0000 2018,0.759,0.143,@cbs,0.097,4
204,0.6369,Thu Mar 29 21:46:58 +0000 2018,0.610,0.089,@cbs,0.301,5

In [26]:
nytimes_sentiments_df= sentiments_df.loc[sentiments_df["News Agency"]=="@nytimes"]
nytimes_sentiments_df["Tweets Ago"] = nytimes_sentiments_df["Tweets Ago"] - 300
nytimes_sentiments_df.head()

C:\Users\Zachk\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Compound,Date,Negative,Neutral,News Agency,Positive,Tweets Ago
300,0.6597,Thu Mar 29 22:07:54 +0000 2018,0.735,0.000,@nytimes,0.265,1
301,0.6597,Thu Mar 29 22:02:46 +0000 2018,0.748,0.000,@nytimes,0.252,2
302,0.4215,Thu Mar 29 22:01:07 +0000 2018,0.851,0.000,@nytimes,0.149,3
303,-0.2732,Thu Mar 29 21:51:02 +0000 2018,0.759,0.143,@nytimes,0.097,4
304,0.6369,Thu Mar 29 21:46:58 +0000 2018,0.610,0.089,@nytimes,0.301,5

In [27]:
fox_sentiments_df= sentiments_df.loc[sentiments_df["News Agency"]=="@foxnews"]
fox_sentiments_df["Tweets Ago"] = fox_sentiments_df["Tweets Ago"] - 400
fox_sentiments_df.head()

C:\Users\Zachk\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Compound,Date,Negative,Neutral,News Agency,Positive,Tweets Ago
400,0.6597,Thu Mar 29 22:07:54 +0000 2018,0.735,0.000,@foxnews,0.265,1
401,0.6597,Thu Mar 29 22:02:46 +0000 2018,0.748,0.000,@foxnews,0.252,2
402,0.4215,Thu Mar 29 22:01:07 +0000 2018,0.851,0.000,@foxnews,0.149,3
403,-0.2732,Thu Mar 29 21:51:02 +0000 2018,0.759,0.143,@foxnews,0.097,4
404,0.6369,Thu Mar 29 21:46:58 +0000 2018,0.610,0.089,@foxnews,0.301,5